@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Rubik+Puddles&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

nav {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    flex-wrap: wrap;
}

nav ul  {
    display: flex;
    align-items: center;
}

ul li {
    margin: 0 25px;
}


header {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/computer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-con {
    margin-top: 40px;
    height: 65vh;
    text-align: center;
    color: whitesmoke;
}

.header-con h1{
    font-size: 3.5em;
}

.header-con h2 {
    font-size: 2em;
    margin-top: 22px;
}

span {
    color: red;
}

.header-con p {
    font-size: 22px;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.line {
    width: 70%;
    height: 5px;
    background-color: red;
    margin: 10px auto;
    border-radius: 10px;
}

.cbut {
   background-color: red;
   padding: 10px 18px;
   border-radius: 25px;
   color: whitesmoke;
   text-decoration: none;
   letter-spacing: 1.5px;
   
}

section {
    width: 90%;
    margin: 15px auto;
}

.col img {
    width: 80%;
    
}

.about-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.col h2 {
    font-size: 2em;
    margin-top: 15px;
}
.col p{
    font-size: 18px;
    margin: 15px 20px;
    
}
.about .line {
    display: none;
}

.work {
    width: 100%;
    min-height: 90vh;
    background-image: url('../images/img6.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
    
}

.work-content {
    width: 60%;
    padding: 30px;
    color: whitesmoke;
    text-align: center;
    background-color: rgba(0, 0, 0, .65);
    margin-left: 20px;
    margin: 20px 20px;
    border-radius: 20px;
    border: 1px solid red;

}
.work-content h2 {
    font-size: 2.5em;
    margin: 15px 20px;
}

.work-content p {
    font-size: 19px;
    margin: 15px 25px;
    font-weight: 800;
    letter-spacing: 2px;
    padding-bottom: 30px;
}

.work-content h3 {
    font-size: 2em;
    margin: 15px 20px;
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.label {
    width: 33.3%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.kontakt {
    width: 33.3%;
    text-align: center;
}

.kontakt, h1, p {
    margin-top: 25px;
}

.social {
    width: 33.3%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.social img {
    width: 70px;
    height: 70px;
}

@media only screen and (max-width: 600px) {
    .about-row {
        flex-direction: column;
    }
    .about .line {
        display: flex;
    }
    .work-content {
        width: 100%;
    }
    footer {
        flex-direction: column;
        height: auto;
    }
    .label {
        width: 80%;
    }
    .kontakt, .social {
        width: 100%;
    }
    .social {
        margin-top: 30px;
    }
  }